# Importing libraries

In [1]:
import pyodbc 
import os
import sys
import glob
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import datetime
import calendar

# Browsing .csv files that will be loaded to SQL SERVER

In [2]:
print("\033[96mThese paths will be used for loading .csv files in a Pandas DataFrame")
for dirname, _, filenames in os.walk('C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files'):
    for filename in filenames: 
        print(os.path.join(dirname, filename))

These paths will be used for loading .csv files in a Pandas DataFrame
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\2017PurchasePricesDec.csv
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\BegInvFINAL12312016.csv
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\EndInvFINAL12312016.csv
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\InvoicePurchases12312016.csv
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\PurchasesFINAL12312016.csv
C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\SalesFINAL12312016.csv

In [3]:
path = 'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files'
extension = 'csv'
os.chdir(path)
result = glob.glob('*.{}'.format(extension))
print("\033[94m These .csv files will be used {}".format(result))

 These .csv files will be used ['2017PurchasePricesDec.csv', 'BegInvFINAL12312016.csv', 'EndInvFINAL12312016.csv', 'InvoicePurchases12312016.csv', 'PurchasesFINAL12312016.csv', 'SalesFINAL12312016.csv']

# Loading csv files in a Pandas DataFrame

In [4]:
PurchasePriceDesc = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\2017PurchasePricesDec.csv'
BeginningOfInventory = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\BegInvFINAL12312016.csv'
EndOfInventory = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\EndInvFINAL12312016.csv'
InvoicePurchase = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\InvoicePurchases12312016.csv'
FinalPurchase = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\PurchasesFINAL12312016.csv'
FinalSales = r'C:\My projects\DataEngineeringProjects\DataEngineeringProject1\Inventory Analysis csv files\SalesFINAL12312016.csv'

dfPurchasePriceDesc = pd.read_csv(PurchasePriceDesc)
dfBeginningOfInventory = pd.read_csv(BeginningOfInventory)
dfEndOfInventory = pd.read_csv(EndOfInventory)
dfInvoicePurchase = pd.read_csv(InvoicePurchase)
dfFinalPurchase = pd.read_csv(FinalPurchase)
dfFinalSales = pd.read_csv(FinalSales)

### Browsing all DataFrames and Data Wrangling

### `dfPurchasePriceDesc`

In [5]:
dfPurchasePriceDesc

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.
...,...,...,...,...,...,...,...,...,...
12256,44917,Ferreira 10-Yr Tawny Port,24.99,750mL,750,2,16.55,90024,VINILANDIA USA
12257,44944,Sanford Santa Rita Pnt Nr,22.99,750mL,750,2,14.93,4425,MARTIGNETTI COMPANIES
12258,45016,Neal One Lane Bridg Cab Svgn,93.99,750mL,750,2,61.43,10754,PERFECTA WINES
12259,46011,Folonari Pnt Nr Venezie,12.99,1500ml,1500,2,8.90,9744,FREDERICK WILDMAN & SONS
12260,46964,Calera Viognier Mt Harlan,35.99,750mL,750,2,24.32,10754,PERFECTA WINES

In [6]:
dfPurchasePriceDesc.columns

Index(['Brand', 'Description', 'Price', 'Size', 'Volume', 'Classification',
       'PurchasePrice', 'VendorNumber', 'VendorName'],
      dtype='object')

In [7]:
dfPurchasePriceDesc.dtypes

Brand               int64
Description        object
Price             float64
Size               object
Volume             object
Classification      int64
PurchasePrice     float64
VendorNumber        int64
VendorName         object
dtype: object

### Removing NULL values from DataFrame

In [8]:
dfPurchasePriceDesc = dfPurchasePriceDesc.dropna()

### `dfBeginningOfInventory`

In [9]:
dfBeginningOfInventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01
...,...,...,...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL,13,22.99,2016-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL,13,13.99,2016-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL,19,23.99,2016-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL,12,144.99,2016-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL,24,119.99,2016-01-01

In [10]:
dfBeginningOfInventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'startDate'],
      dtype='object')

In [11]:
dfBeginningOfInventory.dtypes

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
startDate       object
dtype: object

## Changing name of column, then converting date time columns to date time data types

In [12]:
dfBeginningOfInventory.rename(columns = {'startDate':'StartDate'}, inplace = True)
dfBeginningOfInventory["StartDate"] = pd.to_datetime(dfBeginningOfInventory["StartDate"])

In [13]:
dfBeginningOfInventory.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
StartDate      datetime64[ns]
dtype: object

### Removing NULL values from DataFrame

In [14]:
dfBeginningOfInventory = dfBeginningOfInventory.dropna()

## Browsing final dataframe

In [15]:
dfBeginningOfInventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,StartDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2016-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2016-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2016-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2016-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2016-01-01
...,...,...,...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL,13,22.99,2016-01-01
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL,13,13.99,2016-01-01
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL,19,23.99,2016-01-01
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL,12,144.99,2016-01-01
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL,24,119.99,2016-01-01

### `dfEndOfInventory`

In [16]:
dfEndOfInventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31
...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2016-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2016-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2016-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2016-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2016-12-31

In [17]:
dfEndOfInventory.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size',
       'onHand', 'Price', 'endDate'],
      dtype='object')

In [18]:
dfEndOfInventory.dtypes

InventoryId     object
Store            int64
City            object
Brand            int64
Description     object
Size            object
onHand           int64
Price          float64
endDate         object
dtype: object

### Changing name of column, then converting date time columns to date time data types

In [19]:
dfEndOfInventory.rename(columns = {'endDate':'EndDate'}, inplace = True)
dfEndOfInventory["EndDate"] = pd.to_datetime(dfEndOfInventory["EndDate"])

In [20]:
dfEndOfInventory.dtypes

InventoryId            object
Store                   int64
City                   object
Brand                   int64
Description            object
Size                   object
onHand                  int64
Price                 float64
EndDate        datetime64[ns]
dtype: object

### Removing NULL values from DataFrame

In [21]:
dfEndOfInventory = dfEndOfInventory.dropna()

### Browsing final dataframe

In [22]:
dfEndOfInventory

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,EndDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2016-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2016-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2016-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2016-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2016-12-31
...,...,...,...,...,...,...,...,...,...
224484,81_PEMBROKE_90087,81,PEMBROKE,90087,Ch Mouton Rothschild 12 Paui,750mL,3,469.99,2016-12-31
224485,81_PEMBROKE_90088,81,PEMBROKE,90088,Ch Le Petite Mouton 12 Pauil,750mL,3,134.99,2016-12-31
224486,81_PEMBROKE_90089,81,PEMBROKE,90089,Ch Lynch Bages 12 Pauillac,750mL,3,119.99,2016-12-31
224487,81_PEMBROKE_90090,81,PEMBROKE,90090,Ch Lafite Rothschild 12,750mL,3,649.99,2016-12-31
224488,81_PEMBROKE_90604,81,PEMBROKE,90604,Ch Lynch Bages Pauilac,750mL,2,119.99,2016-12-31

### `dfInvoicePurchase`

In [23]:
dfInvoicePurchase

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2017-01-06,13626,2016-12-21,2017-02-10,90,1563.00,8.60,NaN
5539,9625,WESTERN SPIRITS BEVERAGE CO,2017-01-10,13661,2016-12-23,2017-02-18,4617,37300.48,186.50,NaN
5540,3664,WILLIAM GRANT & SONS INC,2017-01-02,13643,2016-12-22,2017-02-04,9848,202815.78,932.95,NaN
5541,9815,WINE GROUP INC,2017-01-03,13602,2016-12-20,2017-02-08,24747,149007.56,819.54,NaN
5542,90058,ZORVINO VINEYARDS,2017-01-05,13574,2016-12-18,2017-02-12,437,3608.11,16.60,NaN

In [24]:
dfInvoicePurchase.columns

Index(['VendorNumber', 'VendorName', 'InvoiceDate', 'PONumber', 'PODate',
       'PayDate', 'Quantity', 'Dollars', 'Freight', 'Approval'],
      dtype='object')

In [25]:
dfInvoicePurchase.dtypes

VendorNumber      int64
VendorName       object
InvoiceDate      object
PONumber          int64
PODate           object
PayDate          object
Quantity          int64
Dollars         float64
Freight         float64
Approval         object
dtype: object

### Converting date time columns to date time data types

In [26]:
dfInvoicePurchase["InvoiceDate"] = pd.to_datetime(dfInvoicePurchase["InvoiceDate"])
dfInvoicePurchase["PODate"] = pd.to_datetime(dfInvoicePurchase["PODate"])
dfInvoicePurchase["PayDate"] = pd.to_datetime(dfInvoicePurchase["PayDate"])

In [27]:
dfInvoicePurchase.dtypes

VendorNumber             int64
VendorName              object
InvoiceDate     datetime64[ns]
PONumber                 int64
PODate          datetime64[ns]
PayDate         datetime64[ns]
Quantity                 int64
Dollars                float64
Freight                float64
Approval                object
dtype: object

### Browsing final dataframe

In [28]:
dfInvoicePurchase

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2016-01-04,8124,2015-12-21,2016-02-16,6,214.26,3.47,NaN
1,4466,AMERICAN VINTAGE BEVERAGE,2016-01-07,8137,2015-12-22,2016-02-21,15,140.55,8.57,NaN
2,388,ATLANTIC IMPORTING COMPANY,2016-01-09,8169,2015-12-24,2016-02-16,5,106.60,4.61,NaN
3,480,BACARDI USA INC,2016-01-12,8106,2015-12-20,2016-02-05,10100,137483.78,2935.20,NaN
4,516,BANFI PRODUCTS CORP,2016-01-07,8170,2015-12-24,2016-02-12,1935,15527.25,429.20,NaN
...,...,...,...,...,...,...,...,...,...,...
5538,9622,WEIN BAUER INC,2017-01-06,13626,2016-12-21,2017-02-10,90,1563.00,8.60,NaN
5539,9625,WESTERN SPIRITS BEVERAGE CO,2017-01-10,13661,2016-12-23,2017-02-18,4617,37300.48,186.50,NaN
5540,3664,WILLIAM GRANT & SONS INC,2017-01-02,13643,2016-12-22,2017-02-04,9848,202815.78,932.95,NaN
5541,9815,WINE GROUP INC,2017-01-03,13602,2016-12-20,2017-02-08,24747,149007.56,819.54,NaN
5542,90058,ZORVINO VINEYARDS,2017-01-05,13574,2016-12-18,2017-02-12,437,3608.11,16.60,NaN

### Replacing NULL values to 0 in all columns

In [29]:
dfInvoicePurchase = dfInvoicePurchase.fillna(0)

### `dfFinalPurchase`

In [30]:
dfFinalPurchase

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-27,2017-01-09,2017-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2

In [31]:
dfFinalPurchase.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'VendorNumber',
       'VendorName', 'PONumber', 'PODate', 'ReceivingDate', 'InvoiceDate',
       'PayDate', 'PurchasePrice', 'Quantity', 'Dollars', 'Classification'],
      dtype='object')

In [32]:
dfFinalPurchase.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
VendorNumber        int64
VendorName         object
PONumber            int64
PODate             object
ReceivingDate      object
InvoiceDate        object
PayDate            object
PurchasePrice     float64
Quantity            int64
Dollars           float64
Classification      int64
dtype: object

### Converting date time columns to date time data types

In [33]:
dfFinalPurchase["PODate"] = pd.to_datetime(dfFinalPurchase["PODate"])
dfFinalPurchase["ReceivingDate"] = pd.to_datetime(dfFinalPurchase["ReceivingDate"])
dfFinalPurchase["InvoiceDate"] = pd.to_datetime(dfFinalPurchase["InvoiceDate"])
dfFinalPurchase["PayDate"] = pd.to_datetime(dfFinalPurchase["PayDate"])

In [34]:
dfFinalPurchase.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
VendorNumber               int64
VendorName                object
PONumber                   int64
PODate            datetime64[ns]
ReceivingDate     datetime64[ns]
InvoiceDate       datetime64[ns]
PayDate           datetime64[ns]
PurchasePrice            float64
Quantity                   int64
Dollars                  float64
Classification             int64
dtype: object

### Removing NULL values from DataFrame

In [35]:
dfFinalPurchase = dfFinalPurchase.dropna()

### Browsing final dataframe

In [36]:
dfFinalPurchase

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2015-12-21,2016-01-02,2016-01-04,2016-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-02,2016-01-07,2016-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2015-12-22,2016-01-01,2016-01-07,2016-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2015-12-24,2016-01-02,2016-01-09,2016-02-16,21.32,5,106.60,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2372469,49_GARIGILL_22298,49,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2
2372470,1_HARDERSFIELD_19556,1,19556,Zorvino Bacca Z Blackberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-27,2017-01-09,2017-02-06,9.39,12,112.68,2
2372471,66_EANVERNESS_22297,66,22297,Zorvino Vyds Pearz,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,6.75,12,81.00,2
2372472,69_MOUNTMEND_19557,69,19557,Zorvino Fragole Z Strawberry,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-26,2017-01-09,2017-02-06,9.39,12,112.68,2
2372473,55_DRY GULCH_22298,55,22298,Zorvino Vyds Sangiovese,750mL,90058,ZORVINO VINEYARDS,13593,2016-12-19,2016-12-28,2017-01-09,2017-02-06,8.06,12,96.72,2

### `dfFinalSales`

In [37]:
dfFinalSales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/1/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,1/2/2016,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,1/3/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,1/8/2016,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,1/9/2016,375,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,4,51.80,12.95,2/12/2016,750,2,0.45,2000,SOUTHERN WINE & SPIRITS NE
1048571,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,8,103.60,12.95,2/13/2016,750,2,0.90,2000,SOUTHERN WINE & SPIRITS NE
1048572,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,1,12.95,12.95,2/19/2016,750,2,0.11,2000,SOUTHERN WINE & SPIRITS NE
1048573,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,3,38.85,12.95,2/22/2016,750,2,0.34,2000,SOUTHERN WINE & SPIRITS NE
1048574,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,2,25.90,12.95,2/24/2016,750,2,0.22,2000,SOUTHERN WINE & SPIRITS NE

In [38]:
dfFinalSales.columns

Index(['InventoryId', 'Store', 'Brand', 'Description', 'Size', 'SalesQuantity',
       'SalesDollars', 'SalesPrice', 'SalesDate', 'Volume', 'Classification',
       'ExciseTax', 'VendorNo', 'VendorName'],
      dtype='object')

In [39]:
dfFinalSales.dtypes

InventoryId        object
Store               int64
Brand               int64
Description        object
Size               object
SalesQuantity       int64
SalesDollars      float64
SalesPrice        float64
SalesDate          object
Volume              int64
Classification      int64
ExciseTax         float64
VendorNo            int64
VendorName         object
dtype: object

### Converting date time columns to date time data types

In [40]:
dfFinalSales["SalesDate"] = pd.to_datetime(dfFinalSales["SalesDate"])

In [41]:
dfFinalSales.dtypes

InventoryId               object
Store                      int64
Brand                      int64
Description               object
Size                      object
SalesQuantity              int64
SalesDollars             float64
SalesPrice               float64
SalesDate         datetime64[ns]
Volume                     int64
Classification             int64
ExciseTax                float64
VendorNo                   int64
VendorName                object
dtype: object

### Removing NULL values from DataFrame

In [42]:
dfFinalSales = dfFinalSales.dropna()

### Browsing final dataframe

In [43]:
dfFinalSales

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-01,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2016-01-02,750,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2016-01-03,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2016-01-08,750,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2016-01-09,375,1,0.79,12546,JIM BEAM BRANDS COMPANY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048570,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,4,51.80,12.95,2016-02-12,750,2,0.45,2000,SOUTHERN WINE & SPIRITS NE
1048571,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,8,103.60,12.95,2016-02-13,750,2,0.90,2000,SOUTHERN WINE & SPIRITS NE
1048572,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,1,12.95,12.95,2016-02-19,750,2,0.11,2000,SOUTHERN WINE & SPIRITS NE
1048573,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,3,38.85,12.95,2016-02-22,750,2,0.34,2000,SOUTHERN WINE & SPIRITS NE
1048574,19_WINTERVALE_39384,19,39384,F Coppola Diamond Pnt Nr,750mL,2,25.90,12.95,2016-02-24,750,2,0.22,2000,SOUTHERN WINE & SPIRITS NE

# Designing dimension tables from .csv files

### `DimBrand`

In [44]:
DimBrand = dfBeginningOfInventory.iloc[:, 0:6]
DimBrand

,InventoryId,Store,City,Brand,Description,Size
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL
...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL

In [45]:
DimBrand.columns

Index(['InventoryId', 'Store', 'City', 'Brand', 'Description', 'Size'], dtype='object')

In [46]:
DimBrand.dtypes

InventoryId    object
Store           int64
City           object
Brand           int64
Description    object
Size           object
dtype: object

### Removing NULL values from DataFrame

In [47]:
DimBrand = DimBrand.dropna()

In [48]:
DimBrand.isna().sum()

InventoryId    0
Store          0
City           0
Brand          0
Description    0
Size           0
dtype: int64

### Removing duplicates from DataFrame

In [49]:
DimBrand = DimBrand.drop_duplicates()

In [50]:
DimBrandDuplicated = DimBrand[DimBrand.duplicated()]

In [51]:
DimBrandDuplicated

Empty DataFrame
Columns: [InventoryId, Store, City, Brand, Description, Size]
Index: []

### Verifying if there are duplicates in a id column

In [52]:
boolean = DimBrand.duplicated(subset=['InventoryId']).any()
print('\033[97m' + str(boolean), end='\n\n')

False

### Browsing  final dataframe

In [53]:
DimBrand

,InventoryId,Store,City,Brand,Description,Size
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL
...,...,...,...,...,...,...
206524,79_BALLYMENA_46985,79,BALLYMENA,46985,Rodney Strong Cab Svgn Alexa,750mL
206525,79_BALLYMENA_47014,79,BALLYMENA,47014,Juan Gil Jumilla Rd,750mL
206526,79_BALLYMENA_47090,79,BALLYMENA,47090,Napa Cellars Cab Svgn Napa,750mL
206527,79_BALLYMENA_90011,79,BALLYMENA,90011,Ch Pichon Longville 12 Pauil,750mL
206528,79_BALLYMENA_90089,79,BALLYMENA,90089,Ch Lynch Bages 12 Pauillac,750mL

### `DimVendor`

In [54]:
DimVendor = dfPurchasePriceDesc[["VendorName", "VendorNumber"]]
DimVendor

                        VendorName  VendorNumber
0      SHAW ROSS INT L IMP LTD              8320
1      BROWN-FORMAN CORP                    1128
2      BROWN-FORMAN CORP                    1128
3      ULTRA BEVERAGE COMPANY LLP           9165
4      PROXIMO SPIRITS INC.                 7245
...                            ...           ...
12256  VINILANDIA USA                      90024
12257        MARTIGNETTI COMPANIES          4425
12258  PERFECTA WINES                      10754
12259  FREDERICK WILDMAN & SONS             9744
12260  PERFECTA WINES                      10754

[12260 rows x 2 columns]

In [55]:
DimVendor.columns

Index(['VendorName', 'VendorNumber'], dtype='object')

In [56]:
DimVendor.dtypes

VendorName      object
VendorNumber     int64
dtype: object

### Removing NULL values from DataFrame

In [57]:
DimVendor = DimVendor.dropna()

In [58]:
DimVendor.isna().sum()

VendorName      0
VendorNumber    0
dtype: int64

### Removing duplicates from DataFrame

In [59]:
DimVendor = DimVendor.drop_duplicates()

In [60]:
DimVendorDuplicated = DimVendor[DimVendor.duplicated()]

In [61]:
DimVendorDuplicated

Empty DataFrame
Columns: [VendorName, VendorNumber]
Index: []

### Verifying if there are duplicates in a id column

In [62]:
boolean = DimVendor.duplicated(subset=['VendorNumber']).any()
print('\033[97m' + str(boolean), end='\n\n')

True

In [63]:
DimVendor[DimVendor.duplicated(subset=['VendorNumber'])]

                                VendorName  VendorNumber
321                 MARTIGNETTI COMPANIES           4425
6854       ALISA CARR BEVERAGES                     1703
8795   ALISA CARR BEVERAGES                         1703
11699          SOUTHERN GLAZERS W&S OF NE           2000
12184          VINEYARD BRANDS LLC                  1587

In [64]:
duplicated = [4425, 1703,2000,1587 ]
DimVendor[(DimVendor['VendorNumber'].isin(duplicated))]

                                VendorName  VendorNumber
15                   MARTIGNETTI COMPANIES          4425
321                 MARTIGNETTI COMPANIES           4425
541            SOUTHERN WINE & SPIRITS NE           2000
1520           VINEYARD BRANDS INC                  1587
4737                  ALISA CARR BEVERAGES          1703
6854       ALISA CARR BEVERAGES                     1703
8795   ALISA CARR BEVERAGES                         1703
11699          SOUTHERN GLAZERS W&S OF NE           2000
12184          VINEYARD BRANDS LLC                  1587

#### Removing all duplicates from a id column

In [65]:
DimVendor = DimVendor.drop_duplicates(subset=['VendorNumber'])

#### Verify if all duplicates are removed

In [66]:
DimVendor[DimVendor.duplicated(subset=['VendorNumber'])]

Empty DataFrame
Columns: [VendorName, VendorNumber]
Index: []

### Browsing  final dataframe

In [67]:
DimVendor

                        VendorName  VendorNumber
0      SHAW ROSS INT L IMP LTD              8320
1      BROWN-FORMAN CORP                    1128
3      ULTRA BEVERAGE COMPANY LLP           9165
4      PROXIMO SPIRITS INC.                 7245
7      MOET HENNESSY USA INC                8112
...                            ...           ...
11484  TRUETT HURST                         9099
11707  GILMANTON WINERY & VINEYARD          3551
11799  AAPER ALCOHOL & CHEMICAL CO            54
11918  BLACK COVE BEVERAGES                90059
12167  LOYAL DOG WINERY                     5083

[131 rows x 2 columns]

# Connecting to SQL Server, then creating Database for these objects

In [68]:
conn_str = (
    r'DRIVER={ODBC Driver 17 for SQL Server};'
    r'SERVER=;'
    r'DATABASE=master;'
    r'Trusted_Connection=;'
)

try:
    conn = pyodbc.connect(conn_str)
    print("\033[92m Successfully connected to SQL Server")
    conn.autocommit = True
except pyodbc.Error as e:
    print("'\033[91m Error: Could not connect to SQL Server")
    print(e)

 Successfully connected to SQL Server

In [69]:
cursor = conn.cursor()
cursor.execute("USE master")
cursor.execute("SELECT @@version;")
row = cursor.fetchone()
while row:
    print('\033[96m' + str(row[0]))
    row = cursor.fetchone()

Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)
	Sep 24 2019 13:48:23
	Copyright (C) 2019 Microsoft Corporation
	Developer Edition (64-bit) on Windows 10 Home 10.0 <X64> (Build 22631: ) (Hypervisor)

In [70]:
try: 
    cursor = conn.cursor()
    cursor.execute("IF EXISTS(SELECT name FROM sys.databases WHERE name = 'Inventory') DROP DATABASE Inventory")
    cursor.execute("CREATE DATABASE Inventory")
    print("\033[92m Database was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: Database wasn't successfully created")
    print(e)

 Database was successfully created

# Creating tables in SQL Server Database for DataFrame

### `dfPurchasePriceDesc`

In [71]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactPurchasePriceDesc', 'U') IS NOT NULL DROP TABLE dbo.FactPurchasePriceDesc")
    cursor.execute('''CREATE TABLE dbo.FactPurchasePriceDesc (
                                  Brand int,
                                  Description nvarchar(255),
                                  Price decimal(12,6),
                                  Size nvarchar(255),
                                  Volume nvarchar(255),
                                  Classification  int,
                                  PurchasePrice decimal(12,6),
                                  VendorNumber int,
                                  VendorName nvarchar(255))       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [72]:
try:
    for index, row in dfPurchasePriceDesc.iterrows():
        count = cursor.execute("""INSERT INTO dbo.FactPurchasePriceDesc(
            Brand,
            Description,
            Price,
            Size,
            Volume,
            Classification,
            PurchasePrice,
            VendorNumber,
            VendorName)
        VALUES (?,?,?,?,?,?,?,?,?)""", 
        row.Brand, 
        row.Description,
        row.Price, 
        row.Size, 
        row.Volume, 
        row.Classification, 
        row.PurchasePrice, 
        row.VendorNumber, 
        row.VendorName)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)


conn.commit()

 The table was successfully loaded by DataFrame

### Veriyfing if all data was loaded

In [73]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactPurchasePriceDesc")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 12260

In [74]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfPurchasePriceDesc)))

 The quantity of records in DataFrame: 12260

###  `dfBeginningOfInventory`

In [75]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactBeginningInventory', 'U') IS NOT NULL DROP TABLE dbo.FactBeginningInventory")
    cursor.execute('''CREATE TABLE dbo.FactBeginningInventory (
                                InventoryId nvarchar(255),
                                Store int,
                                City nvarchar(255),
                                Brand int,
                                Description nvarchar(255),
                                Size nvarchar(255),
                                onHand int,
                                Price decimal(12,6),
                                StartDate datetime)       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [76]:
try:
    for index, row in dfBeginningOfInventory.iterrows():
        cursor.execute("""INSERT INTO dbo.FactBeginningInventory(
            InventoryId,
            Store,
            City,
            Brand,
            Description,
            Size,
            onHand,
            Price,
            StartDate)
        VALUES (?,?,?,?,?,?,?,?,?)""", 
        row.InventoryId, 
        row.Store,
        row.City, 
        row.Brand, 
        row.Description, 
        row.Size, 
        row.onHand, 
        row.Price, 
        row.StartDate)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)


conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [77]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactBeginningInventory")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 206529

In [78]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfBeginningOfInventory)))

 The quantity of records in DataFrame: 206529

### `dfEndOfInventory`

In [79]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactEndInventory', 'U') IS NOT NULL DROP TABLE dbo.FactEndInventory")
    cursor.execute('''CREATE TABLE dbo.FactEndInventory (
                                InventoryId nvarchar(255),
                                Store int,
                                City nvarchar(255),
                                Brand int,
                                Description nvarchar(255),
                                Size nvarchar(255),
                                onHand int,
                                Price decimal(12,6),
                                EndDate datetime)       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [80]:
try:
    for index, row in dfEndOfInventory.iterrows():
        cursor.execute("""INSERT INTO dbo.FactEndInventory(
            InventoryId,
            Store,
            City,
            Brand,
            Description,
            Size,
            onHand,
            Price,
            EndDate)
        VALUES (?,?,?,?,?,?,?,?,?)""", 
        row.InventoryId, 
        row.Store,
        row.City, 
        row.Brand, 
        row.Description, 
        row.Size, 
        row.onHand, 
        row.Price, 
        row.EndDate)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [81]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactEndInventory")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 223205

In [82]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfEndOfInventory)))

 The quantity of records in DataFrame: 223205

### `dfInvoicePurchase`

In [83]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactInvoicePurchases', 'U') IS NOT NULL DROP TABLE dbo.FactInvoicePurchases")
    cursor.execute('''CREATE TABLE dbo.FactInvoicePurchases (
                            VendorNumber int,
                            VendorName nvarchar(255),
                            InvoiceDate datetime,
                            PONumber int,
                            PODate datetime,
                            PayDate datetime,
                            Quantity int,
                            Dollars decimal(19,9),
                            Freight decimal(19,9),
                            Approval nvarchar(255))       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [84]:
try:
    for index, row in dfInvoicePurchase.iterrows():
        cursor.execute("""INSERT INTO dbo.FactInvoicePurchases(
            VendorNumber,
            VendorName,
            InvoiceDate,
            PONumber,
            PODate,
            PayDate,
            Quantity,
            Dollars,
            Freight,
            Approval)
        VALUES (?,?,?,?,?,?,?,?,?,?)""", 
        row.VendorNumber, 
        row.VendorName,
        row.InvoiceDate, 
        row.PONumber, 
        row.PODate, 
        row.PayDate, 
        row.Quantity, 
        row.Dollars, 
        row.Freight,
        row.Approval)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [85]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactInvoicePurchases")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 5543

In [86]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfInvoicePurchase)))

 The quantity of records in DataFrame: 5543

### `dfFinalPurchase`

In [87]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactFinalPurchase', 'U') IS NOT NULL DROP TABLE dbo.FactFinalPurchase")
    cursor.execute('''CREATE TABLE dbo.FactFinalPurchase (
                        InventoryId nvarchar(255),
                        Store int,
                        Brand int,
                        Description nvarchar(255),
                        Size nvarchar(255),
                        VendorNumber int,
                        VendorName nvarchar(255),
                        PONumber int,
                        PODate datetime,
                        ReceivingDate datetime,
                        InvoiceDate datetime,
                        PayDate datetime,
                        PurchasePrice decimal(12,6),
                        Quantity int,
                        Dollars decimal(12,6),
                        Classification int)       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [88]:
try:
    for index, row in dfFinalPurchase.iterrows():
        cursor.execute("""INSERT INTO dbo.FactFinalPurchase(
            InventoryId,
            Store,
            Brand,
            Description,
            Size,
            VendorNumber,
            VendorName,
            PONumber,
            PODate,
            ReceivingDate,
            InvoiceDate,
            PayDate,
            PurchasePrice,
            Quantity,
            Dollars,
            Classification)
        VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?,?,?)""", 
        row.InventoryId, 
        row.Store,
        row.Brand, 
        row.Description, 
        row.Size, 
        row.VendorNumber, 
        row.VendorName, 
        row.PONumber, 
        row.PODate,
        row.ReceivingDate,
        row.InvoiceDate,
        row.PayDate,
        row.PurchasePrice,
        row.Quantity,
        row.Dollars,
        row.Classification)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [89]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactFinalPurchase")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 2372471

In [90]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfFinalPurchase)))

 The quantity of records in DataFrame: 2372471

### `dfFinalSales`

In [91]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.FactFinalSales', 'U') IS NOT NULL DROP TABLE dbo.FactFinalSales")
    cursor.execute('''CREATE TABLE dbo.FactFinalSales (
                    InventoryId nvarchar(255),
                    Store int,
                    Brand int,
                    Description nvarchar(255),
                    Size nvarchar(255),
                    SalesQuantity int,
                    SalesDollars decimal(12,6),
                    SalesPrice decimal(12,6),
                    SalesDate datetime,
                    Volume int,
                    Classification int,
                    ExciseTax decimal(12,6),
                    VendorNo int,
                    VendorName nvarchar(255))       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [92]:
try:
    for index, row in dfFinalSales.iterrows():
        cursor.execute("""INSERT INTO dbo.FactFinalSales(
            InventoryId,
            Store,
            Brand,
            Description,
            Size,
            SalesQuantity,
            SalesDollars,
            SalesPrice,
            SalesDate,
            Volume,
            Classification,
            ExciseTax,
            VendorNo,
            VendorName)
        VALUES (?,?,?,?,?,?,?,?,?,?,?,?,?,?)""", 
        row.InventoryId, 
        row.Store,
        row.Brand, 
        row.Description, 
        row.Size, 
        row.SalesQuantity, 
        row.SalesDollars, 
        row.SalesPrice, 
        row.SalesDate,
        row.Volume,
        row.Classification,
        row.ExciseTax,
        row.VendorNo,
        row.VendorName)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [93]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.FactFinalSales")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 1048575

In [94]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(dfFinalSales)))

 The quantity of records in DataFrame: 1048575

### `DimBrand`

In [95]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.DimBrand', 'U') IS NOT NULL DROP TABLE dbo.DimBrand")
    cursor.execute('''CREATE TABLE dbo.DimBrand (
                    InventoryId nvarchar(255),
                    Store int,
                    City nvarchar(255),
                    Brand int,
                    Description nvarchar(255),
                    Size nvarchar(255))       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [96]:
try:
    for index, row in DimBrand.iterrows():
        cursor.execute("""INSERT INTO dbo.DimBrand(
            InventoryId,
            Store,
            City,
            Brand,
            Description,
            Size)
        VALUES (?,?,?,?,?,?)""", 
        row.InventoryId, 
        row.Store,
        row.City,
        row.Brand, 
        row.Description, 
        row.Size)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [97]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.DimBrand")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 206529

In [98]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(DimBrand)))

 The quantity of records in DataFrame: 206529

### `DimVendor`

In [99]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.DimVendor', 'U') IS NOT NULL DROP TABLE dbo.DimVendor")
    cursor.execute('''CREATE TABLE dbo.DimVendor (
                    VendorName nvarchar(255),
                    VendorNumber int)       
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

In [100]:
try:
    for index, row in DimVendor.iterrows():
        cursor.execute("""INSERT INTO dbo.DimVendor(
            VendorName,
            VendorNumber)
        VALUES (?,?)""", 
        row.VendorName, 
        row.VendorNumber)
    print("\033[92m The table was successfully loaded by DataFrame")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully loaded by DataFrame")
    print(e)

conn.commit()

 The table was successfully loaded by DataFrame

### Verifying if all data was loaded:

In [101]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.DimVendor")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 131

In [102]:
print("\033[95m The quantity of records in DataFrame: {}".format(len(DimVendor)))

 The quantity of records in DataFrame: 131

### `DimCalendar`

In [103]:
try: 
    cursor = conn.cursor()
    cursor.execute("USE Inventory")
    cursor.execute("IF OBJECT_ID('dbo.DimCalendar', 'U') IS NOT NULL DROP TABLE dbo.DimCalendar")
    cursor.execute('''
    DECLARE @StartDate  date = '20100101';
DECLARE @CutoffDate date = DATEADD(DAY, -1, DATEADD(YEAR, 30, @StartDate));

;WITH seq(n) AS 
(
  SELECT 0 UNION ALL SELECT n + 1 FROM seq
  WHERE n < DATEDIFF(DAY, @StartDate, @CutoffDate)
),
d(d) AS 
(
  SELECT DATEADD(DAY, n, @StartDate) FROM seq
),
src AS
(
  SELECT
    TheDate         = CONVERT(date, d),
    TheDay          = DATEPART(DAY,       d),
    TheDayName      = DATENAME(WEEKDAY,   d),
    TheWeek         = DATEPART(WEEK,      d),
    TheISOWeek      = DATEPART(ISO_WEEK,  d),
    TheDayOfWeek    = DATEPART(WEEKDAY,   d),
    TheMonth        = DATEPART(MONTH,     d),
    TheMonthName    = DATENAME(MONTH,     d),
    TheQuarter      = DATEPART(Quarter,   d),
    TheYear         = DATEPART(YEAR,      d),
    TheFirstOfMonth = DATEFROMPARTS(YEAR(d), MONTH(d), 1),
    TheLastOfYear   = DATEFROMPARTS(YEAR(d), 12, 31),
    TheDayOfYear    = DATEPART(DAYOFYEAR, d)
  FROM d
),
dim AS
(
  SELECT
    TheDate, 
    TheDay,
    TheDaySuffix        = CONVERT(char(2), CASE WHEN TheDay / 10 = 1 THEN 'th' ELSE 
                            CASE RIGHT(TheDay, 1) WHEN '1' THEN 'st' WHEN '2' THEN 'nd' 
                            WHEN '3' THEN 'rd' ELSE 'th' END END),
    TheDayName,
    TheDayOfWeek,
    TheDayOfWeekInMonth = CONVERT(tinyint, ROW_NUMBER() OVER 
                            (PARTITION BY TheFirstOfMonth, TheDayOfWeek ORDER BY TheDate)),
    TheDayOfYear,
    IsWeekend           = CASE WHEN TheDayOfWeek IN (CASE @@DATEFIRST WHEN 1 THEN 6 WHEN 7 THEN 1 END,7) 
                            THEN 1 ELSE 0 END,
    TheWeek,
    TheISOweek,
    TheFirstOfWeek      = DATEADD(DAY, 1 - TheDayOfWeek, TheDate),
    TheLastOfWeek       = DATEADD(DAY, 6, DATEADD(DAY, 1 - TheDayOfWeek, TheDate)),
    TheWeekOfMonth      = CONVERT(tinyint, DENSE_RANK() OVER 
                            (PARTITION BY TheYear, TheMonth ORDER BY TheWeek)),
    TheMonth,
    TheMonthName,
    TheFirstOfMonth,
    TheLastOfMonth      = MAX(TheDate) OVER (PARTITION BY TheYear, TheMonth),
    TheFirstOfNextMonth = DATEADD(MONTH, 1, TheFirstOfMonth),
    TheLastOfNextMonth  = DATEADD(DAY, -1, DATEADD(MONTH, 2, TheFirstOfMonth)),
    TheQuarter,
    TheFirstOfQuarter   = MIN(TheDate) OVER (PARTITION BY TheYear, TheQuarter),
    TheLastOfQuarter    = MAX(TheDate) OVER (PARTITION BY TheYear, TheQuarter),
    TheYear,
    TheISOYear          = TheYear - CASE WHEN TheMonth = 1 AND TheISOWeek > 51 THEN 1 
                            WHEN TheMonth = 12 AND TheISOWeek = 1  THEN -1 ELSE 0 END,      
    TheFirstOfYear      = DATEFROMPARTS(TheYear, 1,  1),
    TheLastOfYear,
    IsLeapYear          = CONVERT(bit, CASE WHEN (TheYear % 400 = 0) 
                            OR (TheYear % 4 = 0 AND TheYear % 100 <> 0) 
                            THEN 1 ELSE 0 END),
    Has53Weeks          = CASE WHEN DATEPART(WEEK,     TheLastOfYear) = 53 THEN 1 ELSE 0 END,
    Has53ISOWeeks       = CASE WHEN DATEPART(ISO_WEEK, TheLastOfYear) = 53 THEN 1 ELSE 0 END,
    MMYYYY              = CONVERT(char(2), CONVERT(char(8), TheDate, 101))
                          + CONVERT(char(4), TheYear),
    Style101            = CONVERT(char(10), TheDate, 101),
    Style103            = CONVERT(char(10), TheDate, 103),
    Style112            = CONVERT(char(8),  TheDate, 112),
    Style120            = CONVERT(char(10), TheDate, 120)
  FROM src
)
SELECT *
INTO dbo.DimCalendar 
FROM dim
  ORDER BY TheDate
  OPTION (MAXRECURSION 0);
    ''')
    print("\033[92m The table was successfully created")
except pyodbc.Error as e:
    print("'\033[91m Error: The table wasn't successfully created")
    print(e)

 The table was successfully created

### Verifying if all data was loaded:

In [104]:
cursor = conn.cursor()
cursor.execute("SELECT COUNT(*) FROM Inventory.dbo.DimCalendar")
row = cursor.fetchone()
while row:
    print('\033[93m Rows inserted: ' + str(row[0]))
    row = cursor.fetchone()

 Rows inserted: 10957

# Close connection

In [105]:
try:
    conn.close()
    print("\033[92m Connection was successfully closed")
except pyodbc.Error as e:
    print("'\033[91m Error: Connection wasn't successfully closed")
    print(e)

 Connection was successfully closed